
* {
    margin: 10px 20px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #16141a;
}

.navbar {
    position: fixed;
    top: 10px;
    left: 220px;
    width: calc(100% - 240px);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    z-index: 1000;
}

.navbar-search {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.navbar-search input {
    width: 91%;
    padding: 12px 15px;
    border: none;
    border-radius: 50px;
    background-color: #232323;
    color: #fff;
    outline: none;
}

.navbar-search .search-button {
    margin-left: -95px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.navbar-right {
    display: flex;
    align-items: center;
    background-color: #232323;
    border-radius: 50px;
    height: 42px;
}


.profile-icon {
    display: inline-flex;
    width: 38px;
    height: 38px;
    background-color: #e8003e;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 1px;
}

.profile-icon .profile-img {
    width: 55%;
}

.profile-text {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.profile-text:hover {
    color: #e8003e;
}

.divider {
    color: #fff;
    font-size: 14px;
}


.sidebar {
    position: fixed;
    top: 20px;
    width: 240px;
    height: 90%;
    background-color: #232323;
    border-radius: 40px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar .menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    gap: 5px;
    transition: color 0.3s ease;
}

.sidebar .menu-item:hover{
    color: #e8003e;
}

.sidebar .menu-item img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}


.keep-watching .text{
    padding-top: 20px;
    color: white;
    font-size: 15px;
}

.main-content {
    margin-left: 240px;
    padding: 20px;
    margin-top: 60px;
}

.bn-home{
    width: 100%;
    margin-left: 47px;
    border-radius: 25px;
}

.text-carrosel{
    color: white;
    margin-left: 47px;
}


/* Login */

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1d25;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.login-bn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.backhome-bt {
    position: absolute;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    width: 15%;
    height: 6%;
    top: 20px;
    left: 5px;
    background-color: white;
    z-index: 1;
}

.backhome-bt:hover {
    background-color: #E5FF6A;
}

.home {
    width:28px;
}

.arrow {
    margin-right: -5px;
    width: 12px;
}

.img-login {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    z-index: 0;
}

.form-container {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #22202e;
    color: white;
    border-radius: 20px;
}

.form-container h2 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-weight: 200;
}

.form-container p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #aaa;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, button {
    padding: 18px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
}

input {
    background-color: #33303d;
    color: white;
}

button {
    background-color: #5a4ffd;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

button:hover {
    background-color: #6d62ff;
}

.hidden {
    display: none;
}

.text-bn {
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 40px;
    margin-left: 50px;
}

.titulo,
.subtitulo {
    color: #462FA1;
}

.subtitulo {
    font-weight: 100;
    text-align: start;
    font-size: 20px;
}

.titulo {
    margin-right: 150px;
    font-weight: lighter;
    font-size: 30px;
    text-align: end;
}

.carrossel{
    margin-left: 0%;
    padding: 0px;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
}

.carrossel-box{ /* inicialmente ela não existiria, mas foi necessaria para fazer o carrossel */
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: fit-content;
    display: flex;
    transition: transform 1s ease-in-out;

;
}
.carrossel-box div{     /* Card filme Carrossel */
    flex: 0 0 17.59%;
    height: fit-content;
    margin: 30px 0px 30px 2.40%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),  opacity .2s ;
}

.carrossel-box div:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.carrossel-box div img{
    margin: 0px;
    width: 100%;
    height: 100%;

}

.carrossel-container{
    margin: 50px  0px  0px 30px;
    width: 100%;
}

.carrossel button{  /* botão direita e esquerda */
    color: rgba(95, 158, 160, 0);
    background-color: rgba(90, 79, 253, 0);
    height: 30px;
    width: 30px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    scale: 1.9;
    cursor: pointer;
    z-index: 10;
}

.carrossel button:hover{  /* botão direita e esquerda */
    transform: scale(1.6);
}

.carrossel button svg{  /* tive que fazer para centralizar a seta(NADA FUNCIONAVA) */
    margin: auto;
    opacity: 0.6;

}

.left-arrow{
    left: 3%;;
}

.right-arrow{
    right: 1%
}

 /* catalogo */

.cards-container{
    width: 100%;
    margin-top: 0px;
    margin-left: 47px;
    padding: 0px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3%;
    border: 1px solid black;
}

.cards-container div{
    margin: 10px 1.5% 15px 1.5%;
    padding: 0px;
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 45px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.cards-container div:hover{
    transform: scale(1.07);
}

.cards-container div img{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

.line-filtro{
    width: 100%;
    height: auto;
    display: inline-flex;
    margin: 0px 0px -7px 47px;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    align-items: center;
    text-align: justify-all;

}

.line-filtro h1{
    color: white;
    margin: 0px;
    padding: 0px;
}

.line-filtro button{
    object-position: right;
    margin: 0px;
    padding: 0px;
    width: fit-content;
    height: fit-content;
    scale: 0.8;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0);
}

.line-filtro button svg{
    padding: 0px;
    margin: 0px;
}

 /* pagina do filme */

.filmpage {
    background: linear-gradient(rgba(60, 59, 62, 0), rgb(0, 0, 0)),
    url('https://imgs.search.brave.com/DLPD4pCbza26Ueee0d2bLEHFvJo_S53lk3FTtFVqhOE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zMi10/ZWNodHVkby5nbGJp/bWcuY29tL3hVZE12/T2dBR3FBQUYwaFVF/SFF1U2dLWE5Vdz0v/MHgwOjEzNzB4Nzcx/Lzk4NHgwL3NtYXJ0/L2ZpbHRlcnM6c3Ry/aXBfaWNjKCkvaS5z/My5nbGJpbWcuY29t/L3YxL0FVVEhfMDhm/YmY0OGJjMDUyNDg3/Nzk0M2ZlODZlNDMw/ODdlN2EvaW50ZXJu/YWxfcGhvdG9zL2Jz/LzIwMjEvYi9LL0Zq/QlF6NlJsMklRbDBW/N2V2WUt3L2FyY2Fu/ZS1maW5hbC1wb3N0/ZXItMTZ4OS1uby10/ZXh0LW5vLWJvcmRl/ci5qcGc');
    background-size: cover ;
    border-radius: 20px;
    padding: 22% 0px 10% 0px;
    width: 100%;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.titlefilme {
    font-size: 57px;
    margin-bottom: 20px;
}

.catfilmpage {
    margin-bottom: 20px;
}

.catfilmpage span {
    display: inline-block;
    background-color: rgba(224, 224, 224, 0.78);
    color: #000;
    margin: 0px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 10px;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px;
    height: 50px;
}

.play-button {
    background-color: #00d374;
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 100%;
    margin: 0;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button svg{
    scale: 0.8;
}

.play-button:hover {
    background-color: #00b761;
}

.info span{
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 20px;
}

.descfilmpage {
    font-size: 21px;
    line-height: 1.5;
    color: #cfcfcf;
}

