<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmeco - Home</title>
    <link rel="stylesheet" href="styles.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
<div class="main-container">

    <!-- SideMenu -->
    <div class="sidebar">
        <a href="#" class="menu-item">
            <img src="/images/Home.png" alt="Home" class="menu-icon">
            Home
        </a>
        <a href="#" class="menu-item">
            <img src="/images/explorar.png" alt="Explorar" class="menu-icon">
            Explorar
        </a>
        <a href="#" class="menu-item">
            <img src="/images/fav.png" alt="Favoritos" class="menu-icon">
            Favoritos
        </a>
        <a href="#" class="menu-item">
            <img src="/images/configuracao.png" alt="Configurações" class="menu-icon">
            Configurações
        </a>
        <div class="keep-watching">
            <hr>
            <p class="text">Continuar assistindo</p>
        </div>
    </div>

    <!-- NavBar -->
    <header class="navbar">
        <div class="navbar-left"></div>

        <div class="navbar-search">
            <input type="text" placeholder="Pesquisar">
            <button class="search-button">
                <img src="/images/search.png" alt="Search">
            </button>
        </div>

        <div class="navbar-right">
            <a href="#" class="profile-icon" aria-label="Perfil">
                <img src="/images/profile.png" alt="Profile" class="profile-img">
            </a>
            <a href="#" class="profile-text login-link">Login</a>
            <span class="divider">/</span>
            <a href="#" class="profile-text register-link">Inscrever-se</a>
        </div>
    </header>

    <main class="main-content">
        <div>
            <img src="/images/bn-home.png" alt="Banner" class="bn-home">
        </div>

        <div class="recentes">
            <h1 class="text-carrosel">Os mais recentes</h1>
            <div>
                <img src="/images/poster.png" alt="Banner filme" class="bn-movie">
                <img src="/images/poster-2.png" alt="Banner filme" class="bn-movie">
            </div>
        </div>
        <div class="recentes">
            <h1 class="text-carrosel">Comédia</h1>
            <div>
                <img src="/images/poster.png" alt="Banner filme" class="bn-movie">
                <img src="/images/poster-2.png" alt="Banner filme" class="bn-movie">
            </div>
        </div>
        <div class="recentes">
            <h1 class="text-carrosel">Drama</h1>
            <div>
                <img src="/images/poster.png" alt="Banner filme" class="bn-movie">
                <img src="/images/poster-2.png" alt="Banner filme" class="bn-movie">
            </div>
        </div>
    </main>
</div>
</body>
</html>