<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro" rel="stylesheet">
    <title>Filmeco - Home</title>
    <link rel="stylesheet" href="styles.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
<div class="main-container">

    <!-- SideMenu -->
    <div class="sidebar">
        <a href="#" class="menu-item">
            <img src="/images/Home.png" alt="Home" class="menu-icon">
            Home
        </a>
        <a href="/explorar" class="menu-item">
            <img src="/images/explorar.png" alt="Explorar" class="menu-icon">
            Explorar
        </a>
        <a href="#" class="menu-item">
            <img src="/images/fav.png" alt="Favoritos" class="menu-icon">
            Favoritos
        </a>
        <a href="#" class="menu-item">
            <img src="/images/configuracao.png" alt="Configurações" class="menu-icon">
            Configurações
        </a>
        <div class="keep-watching">
            <hr>
            <p class="text">Continuar assistindo</p>
        </div>
    </div>

    <!-- NavBar -->
    <header class="navbar">
        <div class="navbar-left"></div>

        <div class="navbar-search">
            <input type="text" placeholder="Pesquisar">
            <button class="search-button">
                <img src="/images/search.png" alt="Search">
            </button>
        </div>

        <div class="navbar-right">
            <a href="#" class="profile-icon" aria-label="Perfil">
                <img src="/images/profile.png" alt="Profile" class="profile-img">
            </a>
            <a href="/login" class="profile-text login-link">Login</a>
            <span class="divider">/</span>
            <a href="/signup" class="profile-text register-link">Inscrever-se</a>
        </div>
    </header>

    <!-- Conteudo -->
    <main class="main-content">
        <div>
            <img src="/images/bn-home.png" alt="Banner" class="bn-home">
        </div>

        <div class="carrossel-container">
            <h1 class="text-carrosel">Os mais recentes</h1>
            <div class="carrossel">
                <button class="left-arrow">
                    <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 2L3.70711 9.29289C3.31658 9.68342 3.31658 10.3166 3.70711 10.7071L11 18" stroke="#ffff" stroke-width="5"/>
                    </svg>
                </button>
                <div class="carrossel-box">
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster-2.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster-2.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster-2.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster-2.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                    <div>
                        <img src="/images/poster.png" alt="Banner filme" class="">
                    </div>
                </div>
                <button class="right-arrow">
                    <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 18L9.29289 10.7071C9.68342 10.3166 9.68342 9.68342 9.29289 9.29289L2 2" stroke="#ffff" stroke-width="5"/>
                    </svg>
                </button>
            </div>
        </div>
    </main>
</div>
<!-- Não é a melhor forma mas o script pelo script.js não esta funcionando na minha maquina -->
<script>
    <!-- Carrossel -->
    const carrosselBox = document.querySelector('.carrossel-box');
    const leftArrow = document.querySelector('.left-arrow');
    const rightArrow = document.querySelector('.right-arrow');

    let currentIndex = 0; // Indice inicial
    const card = document.querySelectorAll('.carrossel-box div');
    const qntCards = 5; // Numero de cards que eu desejo
    const cardWidth = carrosselBox.offsetWidth / qntCards; // calculo da largura de cada item

    function updateCarrossel() {
        const translateX = -currentIndex * cardWidth; // função que vai mover meus cards baseado no index atual
        carrosselBox.style.transform = `translateX(${translateX}px)`;
    }


    rightArrow.addEventListener('click', () => {
        if (currentIndex < card.length - qntCards) { //movendo para a direita adicionando 5 ao index atual e movendo utilizando a função updatecarrossel
            currentIndex=currentIndex + 5;
            updateCarrossel();
        }
    });

    // Listener para o botão da esquerda
    leftArrow.addEventListener('click', () => { //movendo para esquerda subtraindo 5 do index atual
        if (currentIndex > 0) {
            currentIndex=currentIndex - 5;
            updateCarrossel();
        }
    });

</script>

</body>
</html>